<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Taskflow</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
</head>

<body>

    <div class="main w-full min-h-screen bg-zinc-900">
        <nav class=" flex items-center py-5 px-16 justify-between border-b border-zinc-600 text-white mx-5">
            <h1 class="text-3xl">Task<span class="font-[poppins] font-semibold text-violet-600">Flow</span>😉</h1>
            <ul class="flex gap-5">
                <li><a href="">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/signup" class=" bg-violet-600 text-black px-3 py-1 rounded-md">Signup</a></li>
                
            </ul>
        </nav>
        <div class=" p-10 form text-white">
            <form action="/create" method="post">
                <input type="text" placeholder="Title goes here.." name="title" class="block w-full px-5 py-2 outline-none rounded-md bg-zinc-800" type="text">
                <textarea placeholder="Write your task details here..." name="details" class="block outline-none px-5 w-full py-2 resize-none mt-2 rounded-md bg-zinc-800"></textarea>
                <input type="submit"class="mt-2 bg-violet-600 px-4 py-2 rounded-md" value="Create Task">
            </form>
        </div>
        <div class="tasks p-10 flex flex-wrap gap-3">
            <% if(files.length>0){ %>
                <% files.forEach((elem)=>{ %>
                    <div class="task min-w-72 px-3 py-4 rounded-md bg-zinc-800">
                        <h1 class="text-white text-3xl tracking-tighter">
                            <%= elem%>
                        </h1>
                        <div class="flex w-full justify-between items-center mt-3">

                            <a class="text-blue-500 inline-block" href="/files/<%= elem%>">Read More..</a>
                            <a class="text-zinc-600" href="/edit/<%= elem%>">edit filename</a>
                        </div>
                    </div>
                <% }) %>
            <%} else {%>
                <h3 class=" text-zinc-600">No Tasks yet.</h3>
            <% } %>
           
           
        </div>
    </div>
    <script src="javascripts/script.js"></script>
</body>

</html>